<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🍕 Blazing Pizza</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pizzas">
                <span class="bi bi-search-nav-menu" aria-hidden="true"></span> Pizza Browser
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simple-pizzas">
                <span class="bi bi-table-nav-menu" aria-hidden="true"></span> Simple Pizza Data
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="database-demo">
                <span class="bi bi-server-nav-menu" aria-hidden="true"></span> Database Demo (EF Core)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data-pizzas">
                <span class="bi bi-database-nav-menu" aria-hidden="true"></span> Advanced Data Access
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="filtered-pizzas">
                <span class="bi bi-funnel-nav-menu" aria-hidden="true"></span> Filtered Data
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo">
                <span class="bi bi-palette-nav-menu" aria-hidden="true"></span> Component Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pizzas/margherita">
                <span class="bi bi-gear-nav-menu" aria-hidden="true"></span> Routing Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favorite-pizza/margherita">
                <span class="bi bi-question-circle-nav-menu" aria-hidden="true"></span> Optional Parameters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pizza-size/12">
                <span class="bi bi-shield-check-nav-menu" aria-hidden="true"></span> Route Constraints  
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favorite-pizzas/margherita/hawaiian/pepperoni">
                <span class="bi bi-asterisk-nav-menu" aria-hidden="true"></span> Catch-all Parameters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data-sharing">
                <span class="bi bi-share-nav-menu" aria-hidden="true"></span> Data Sharing Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pizza-preferences">
                <span class="bi bi-ui-checks-nav-menu" aria-hidden="true"></span> Data Binding Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="binding-examples">
                <span class="bi bi-code-square-nav-menu" aria-hidden="true"></span> Binding Examples
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

